@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mystery+Quest&family=Quicksand:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
    scroll-behavior: smooth;
}

/* Hide the scrollbar in Chrome, Safari, and Edge */
::-webkit-scrollbar {
    display: none;
}

/* Hide the scrollbar in Firefox */
/* Note: This may not work in the latest versions of Firefox */
/* You may need to use a browser-specific prefix or alternative method */
/* Consult Mozilla Developer Network (MDN) for up-to-date information */
scrollbar-width: none;
